@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<link href="~/css/style.css" rel="stylesheet" />
<div class="login-wrapper">
    <form action="" method="post" class="form">
        <img src="img/avatar.png" alt="">
        <h2>Login</h2>
        <div class="input-group">
            <input type="text" name="loginName" id="loginName" required>
            <label for="loginUser">İsim</label>
        </div>
        <div class="input-group">
            <input type="text" name="loginLname" id="loginLname" required>
            <label for="loginUser">Soy İsim</label>
        </div>
        <div class="input-group">
            <input type="text" name="loginMail" id="loginMail" required>
            <label for="loginUser">Mail</label>
        </div>
        <div class="input-group">
            <input type="text" name="loginBirthday" id="loginBirthday" required>
            <label for="loginUser">Doğum Tarihi</label>
        </div>
        <div class="input-group">
            <input type="password" name="loginPassword" id="loginPassword" required>
            <label for="loginPassword">Şifre Belirleyin</label>
        </div>
        <form class="d-flex">
            <button type="submit">Kayıt Ol</button>
        </form>
    </form>
    <
